@import "~bootstrap/scss/bootstrap";

html {
    border-radius: 2px;
    height: 100%;
}

body {
    border-radius: 2px;
    padding: 0px;
    color: $white;
    font-size: 14px;
    background-color: $blue;
    overflow:hidden;
    height: 100%;
}

.is-draggable {
    -webkit-app-region: drag;
}

#search__wrapper {
    padding: 0px;
    height: 100%;
}

#search__main {
    padding: 5px;
}

#search__main p {
    margin-bottom: 5px;
}

#search__main .h6 {
    margin-bottom: 0px;
}

#menubox {
    margin-top: 3px;
}

#outputField {
    margin-top: 3px;
}
