@import "~bootstrap/scss/bootstrap";


html {
    -webkit-app-region: drag;
}

body {
    padding: 5px;
	color: $white;
	font-size: 14px;
	background-color: $blue;
}

.not-dragable {
    -webkit-app-region: no-drag;
}

#search__main p {
    margin-bottom: 0px;
}

#outputField {
    margin-top: 3px;
}
