@import "~bootstrap/scss/bootstrap";

html {
    height: 100%;
}

body {
    padding: 0px;
    height: 100%;
}

#search__wrapper {
    padding: 0px;
    height: 100%;
    color: $white;
    font-size: 14px;
    background-color: $blue;
    overflow:hidden;
}

#search__main {
    padding: 5px;
}

#search__main p {
    margin-bottom: 5px;
}

#search__main .h6 {
    margin-bottom: 0px;
}

#menubox {
    margin-top: 3px;
}

#outputField {
    margin-top: 3px;
}

.is-draggable {
    -webkit-app-region: drag;
}

#menu-button-icon {
    transform: rotate(0deg);
    transition: transform 0.25s linear;
}

#menu-button-icon.open{
    transform: rotate(180deg);
    transition: transform 0.25s linear;
}
